<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maket</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
            <div class="figure" id="type1"></div>
            <div class="figure" id="type2"></div>

            <div class="figure" id="type3"></div>
            <div class="figure" id="type4"></div>
            <div class="figure" id="type5"></div>
            <div class="figure" id="type6"></div>

            <div class="figure" id="type7"></div>
            <div class="figure" id="type8"></div>
            <div class="figure" id="type9"></div>
            <div class="figure" id="type10"></div>
            <div class="figure" id="type11"></div>
            <div class="figure" id="type12"></div>
            <div class="figure" id="type13"></div>

            <div class="figure" id="type14"></div>
            <div class="figure" id="type15"></div>
            <div class="figure" id="type16"></div>
            <div class="figure" id="type17"></div>
            <div class="figure" id="type18"></div>

            <div class="figure" id="type19"></div>
            <div class="figure" id="type20"></div>

            <h1 id="first">This page is</h1>
            <h1 id="second">Your</h1>
            <h1 id="third">Hometask</h1>
    </div>
</body>
</html>