<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maket</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="map" id="one"></div>
        <div class="map" id="two"></div>
        <div class="map" id="three"></div>
        <div class="map" id="four"></div>
        <div class="map" id="five"></div>
    </div>
</body>
</html>