<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maket 2</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="body-container">
        <div class="container">
            <header>
                <div class="name">
                    <p>Пупкин Василий Иванович</p>
                </div>
                <div class="nav">
                    <a href="../Main/index.html" id="first">Макеты</a><a href="#" id="second">Портфолио</a><a href="#">Проекты</a><a href="#" id="third">Контакты</a>
                    <div class="my-line"></div>
                </div>
            </header>
            <div class="personal">
                <div class="my-info">
                    <h1>Обо мне</h1>
                </div>
                <div class="left-info">
                    <div class="photo"></div>
                </div>

                <div class="right-info">
                   <div class="name">
                       <p>
                           Пара слов про меня
                       </p>
                   </div> 
                   <div class="desciption">
                       <p>
                           Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                           Eaque error officiis doloribus eum debitis dolorem nostrum 
                           exercitationem autem aliquam? Quidem excepturi nemo earum 
                           placeat corporis? Labore commodi tempora harum? Labore.
                       </p>
                   </div>
                   <div class="citation">
                       <p>
                        &#171Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima 
                           explicabo sequi ipsum fugiat nisi natus consectetur doloremque? 
                           Quae modi, laborum beatae neque nostrum, reprehenderit excepturi 
                           ea magni, iure maiores ducimus!&#187
                       </p>
                       <p id="author">Иван Пупкин, <b>Web Designer</b></p>
                   </div>
                </div>
            </div>
            <div class="skills">
                <div class="skills-left">
                    <div class="my-skills">
                        <p>Мои навыки</p>
                        </div>
                        <div class="programs">
                            <div class="pht">
                                <p>Photoshop</p>
                            </div>
                            <div class="html">
                                <p>HTML</p>
                            </div>
                            <div class="css">
                                <p>CSS</p>
                            </div>
                            <div class="js">
                                <p>JavaScript</p>
                            </div>
                            <div class="angl">
                                <p>Angular</p>
                            </div>
                            <div class="line">
                                <p>12345678</p>
                                <p>12345678</p>
                                <p>12345678</p>
                                <p>12345678</p>
                                <p>12345678</p>
                            </div>
                            <div class="number">
                                <p>1234567i<b>1</b></p>
                                <p>1234567<b>2</b></p>
                                <p>1234567<b>3</b></p>
                                <p>1234567<b>4</b></p>
                                <p>1234567<b>5</b></p>
                            </div>
                        </div>
                    </div>
                <div class="skills-right">
                    <div class="my-doings">
                        <p>Что я делаю</p>
                    </div>
                  
                    <div class="list">
                        <div class="round"></div>
                        <p id="one">Lorem ipsum dolor sit amet consectetur adipisicing elit cum. 
                            Voluptate tempora, quod cum suscipit repellat .
                        </p>
                    </div>
                    <div class="list">
                        <div class="round"></div>
                        <p id="one">Lorem ipsum dolor sit amet consectetur adipisicing elit cum. 
                            Voluptate tempora, quod cum suscipit repellat.
                        </p>
                    </div>
                    <div class="list">
                        <div class="round"></div>
                        <p id="one">Lorem ipsum dolor sit cum.
                        </p>
                    </div>
                    <div class="list">
                        <div class="round"></div>
                        <p id="one">Lorem ipsum dolor sit amet consectetur adipisicing elit cum. 
                            Voluptate tempora, quod cum suscipit repellat.
                        </p>
                    </div>
                    <div class="list">
                        <div class="round"></div>
                        <p id="one">Lorem ipsum dolor sit amet consectetur adipisicing elit cum. 
                            Voluptate tempora, quod cum suscipit repellat.
                        </p>
                    </div>
                    <div class="list">
                        <div class="round"></div>
                        <p id="one">Lorem ipsum dolor sit amet consectetur adipisicing elit cum. 
                            Voluptate tempora, quod cum suscipit repellat.
                        </p>
                    </div>
                </div>
            </div>
            <div class="middle">
                <div class="logo"></div>
                <div class="text">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro ipsam eligendi 
                        placeat minima aliquid ullam nulla illum voluptates maiores ut molestias deleniti 
                        consectetur excepturi, quod necessitatibus blanditiis maiores illum.
                    </p>
                </div>
            </div>
            <footer>
                <div class="f-left">
                    <div class="contacts">
                        <h2>Контакты</h2>
                        <p id="mail">e-mail: vasia@i.ua</p>
                        <p id="tell">моб. +380990001122</p>
                    </div>
                    <div class="social">
                        <h2>Соцсети</h2>
                        <a href="#">facebook</a><a href="#">vk</a><a href="#">linkedin</a>
                    </div>
                    <div class="school">
                        Hillel, 2021
                    </div>
                </div>
                <div class="f-right">
                    <div class="grad">
                        <p>Lorem<br>ipsum</p>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</body>
</html>