<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Макеты</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <header>
            <div class="head_name">
                <div class="logo"></div>
                <h1>Мои макеты</h1>
            </div>
            <nav>
                <a href="../../index.html" class="button">Главная</a>
                <a href="../../Lessons/Main/target.html" class="button">Мои цели</a>
            </nav>
        </header>
        <div class="maket">
            <div class="mak-1">
                <a href="../Layout 1/index.html" class="button">макет 1</a>
            </div>
            <div class="mak-2">
                <a href="../Layout 2/index.html" class="button">макет 2</a>
            </div>
            <div class="mak-3">
                <a href="../Layout 3/index.html" class="button">макет 3</a>
            </div>
            <div class="mak-4">
                <a href="../Layout 4/index.html" class="button">макет 4</a>
            </div>
            <div class="mak-5">
                <a href="../Layout 5/index.html" class="button">макет 5</a>
            </div>
            <div class="mak-6">
                <a href="../Layout 6/index.html" class="button">макет 6</a>
            </div>
        </div>
    </div>
</body>
</html>