<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">
    <title>Example</title>
</head>

<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h1>Metr</h1>
                    <span><img src="./ball.png" class="mh-25 align-middle me-1" style="width: 22px" alt="..."></span>
                    <h1>Blog</h1>
                </div>
                <div class="col-lg-6">
                    <ul>
                        <li><a href="#" class="first">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Articles</a></li>
                        <li><a href="#">Pages</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-flex flex-column justify-content-center">
                    <div class="text ms-5">
                        <h2>Apple iPad</h2>
                        <h2>Reviews</h2>
                        <a href="#"><span><img src="./cam.png" class="mh-25 " style="width: 25px" alt="..."></span>
                            Video review</a>
                    </div>
                </div>
                <div class="col-lg-6 d-flex justify-content-center">
                    <img src="./ipad.png" class="mw-800" style="max-width: 800px" alt="...">
                </div>
            </div>
        </div>
    </main>
    <div class="info">
        <div class="container my-5 ">
            <div class="row">
                <div class="col-lg-3">
                    <img src="./gad.png" class="img-fluid" alt="...">
                </div>
                <div class="col-lg-6 text-info">
                    <div class="ph-l">
                        <a href="#"><img src="./left.png" class="mh-32 " style="width: 33px" alt="..."></a>
                    </div>
                    <div class="ph-r">
                        <a href="#"><img src="./right.png" class="mh-32 " style="width: 32px" alt="..."></a>
                    </div>
                    <h2>Lorem Ipsum is simply <br> cssauthor.com</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, quo? Natus ducimus ipsa odio rerum
                        quibusdam eligendi debitis odit nihil delectus? Perspiciatis blanditiis accusantium ullam,
                        repellat tenetur delectus ea. Dignissimos?
                        Natus ducimus ipsa odio rerum quibusdam eligendi debitis.Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Amet, quo? Natus ducimus ipsa odio rerum quibusdam eligendi debitis odit nihil
                        delectus? Perspiciatis blanditiis
                        accusantium ullam, repellat tenetur delectus ea. Dignissimos? Natus ducimus ipsa odio rerum
                        quibusdam eligendi debitis.</p>
                </div>
                <div class="col-lg-3">
                    <div class="container sizing">
                        <div class="row border">
                            <div class="col-lg-12">
                                <p>The ultimate apple</p>
                                <h2>i pad Guide</h2>
                            </div>
                            <div class="col-lg-12 ">
                                <img src="./tablets.png" class="mh-100 " style="width: 150px" alt="...">
                                <img src="./css.png" class="mh-100 mb-3" style="width: 50px" alt="...">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="galary">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="box">
                        <h2>Apple iphone variations</h2>
                        <p id="time">30/12/12</p>
                        <p id="by">By : Mariya</p>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga nulla vel officia tenetur
                            perferendis earum temporibus fugit alias, maxime a odio quod voluptates harum velit tempore
                            quas, sapiente, error voluptate.</p>
                    </div>

                    <div class="box">
                        <h2>The standard chunk Lorem Ipsum</h2>
                        <p id="time">30/12/12</p>
                        <p id="by">By : Andriana Solorzana</p>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga nulla vel officia tenetur
                            perferendis earum temporibus fugit alias, maxime a odio quod voluptates harum velit tempore
                            quas, sapiente, error voluptate.</p>
                    </div>

                    <div class="box">
                        <h2>This book is one of treatise</h2>
                        <p id="time">30/12/12</p>
                        <p id="by">By : Andriana Solorzana</p>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga nulla vel officia tenetur
                            perferendis earum temporibus fugit alias, maxime a odio quod voluptates harum velit tempore
                            quas, sapiente, error voluptate.</p>
                    </div>

                    <div class="box">
                        <h2>Apple iphone variations</h2>
                        <p id="time">30/12/12</p>
                        <p id="by">By : Mariya</p>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga nulla vel officia tenetur
                            perferendis earum temporibus fugit alias, maxime a odio quod voluptates harum velit tempore
                            quas, sapiente, error voluptate.</p>
                    </div>

                    <div class="box">
                        <h2>The standard chunk Lorem Ipsum</h2>
                        <p id="time">30/12/12</p>
                        <p id="by">By : Andriana Solorzana</p>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga nulla vel officia tenetur
                            perferendis earum temporibus fugit alias, maxime a odio quod voluptates harum velit tempore
                            quas, sapiente, error voluptate.</p>
                    </div>

                    <div class="box">
                        <h2>This book is one of treatise</h2>
                        <p id="time">30/12/12</p>
                        <p id="by">By : Andriana Solorzana</p>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga nulla vel officia tenetur
                            perferendis earum temporibus fugit alias, maxime a odio quod voluptates harum velit tempore
                            quas, sapiente, error voluptate.</p>
                    </div>

                    <div class="box">
                        <h2>Apple iphone variations</h2>
                        <p id="time">30/12/12</p>
                        <p id="by">By : Mariya</p>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga nulla vel officia tenetur
                            perferendis earum temporibus fugit alias, maxime a odio quod voluptates harum velit tempore
                            quas, sapiente, error voluptate.</p>
                    </div>
                    <div class="box">
                        <h2>The standard chunk Lorem Ipsum</h2>
                        <p id="time">30/12/12</p>
                        <p id="by">By : Andriana Solorzana</p>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga nulla vel officia tenetur
                            perferendis earum temporibus fugit alias, maxime a odio quod voluptates harum velit tempore
                            quas, sapiente, error voluptate.</p>
                    </div>
                    <div class="box">
                        <h2>This book is one of treatise</h2>
                        <p id="time">30/12/12</p>
                        <p id="by">By : Andriana Solorzana</p>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga nulla vel officia tenetur
                            perferendis earum temporibus fugit alias, maxime a odio quod voluptates harum velit tempore
                            quas, sapiente, error voluptate.</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="high">
                        <div class="round">
                            <h2>12</h2>
                            <p>WEEK</p>
                        </div>
                        <h2>Lorem Ipsum</h2>
                        <p>Lorem Ipsum is simply <br> dummy</p>
                        <a href="#">Join us now !</a>
                    </div>

                    <div class="low">
                        <h2>Join our mailing</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti quibusdam impedit voluptas
                            delectus iure.</p>
                        <form action="#" method="POST">
                            <input type="text" name="name" placeholder="Name">
                            <input type="email" name="email" placeholder="email address">
                            <input type="submit" value="SIGN ME UP!">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-4">
                        <p>All Rights Reserved to cssauthor.com</p>
                    </div>
                    <div class="col-lg-4">

                        <a href="#"><img src="./fb.png" class="mh-30 " style="width: 30px" alt="..."></a>

                        <a href="#"><img src="./twit.png" class="mh-30 " style="width: 30px" alt="..."></a>

                        <a href="#"><img src="./tube.png" class="mh-30 " style="width: 30px" alt="..."></a>

                    </div>
                </div>
            </div>
        </footer>

    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
    -->
</body>

</html>