<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Макет</title>
    <link rel="stylesheet" href="./fonts/Segoe/segoe.css">
    <link rel="stylesheet" href="./fonts/SourceSansPro/source-sans-pro.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="up-header"></div>
        <header>
            <div class="logo"></div>
            <p>Prechu</p>
            <div class="nav">
                <a href="../Main/index.html" class="links">Home</a>
                <a href="#" class="links">Products</a>
                <a href="#" class="links">Services</a>
                <a href="#" class="links">Contact</a>
            </div>
            <button class="box">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="box-content">
                    <a href="#">Home</a>
                    <a href="#">Products</a>
                    <a href="#">Services</a>
                    <a href="#">Contact</a>
              </div>
            </button>
        </header>
        <main>
        <a href="#" class="left"></a>
        <a href="#" class="right"></a>
        <div class="tell"></div>
        <div class="text">
            <h2>Lorem Ipsum is simply</h2><br>
            <p class="one">dummy text of the</p><br>
            <p class="two">printing & typesetting</p>
            <div class="botton">
                <a href="#">Sign up now</a>
            </div>
        </div>
        </main>
        <div class="contact">
            <div class="pen">
                <h3><a href="#" id="pen1"></a>Contrary to popular</h3>
                <p>Lorem Ipsum is not simply random text. It has roots in a piece</p>
            </div>

            <div class="mon">
                <h3><a href="#" id="mon1"></a>Contrary to popular</h3>
                <p>Lorem Ipsum is not simply random text. It has roots in a piece</p>
            </div>

            <div class="bag">
                <h3><a href="#" id="bag1"></a>Contrary to popular</h3>
                <p>Lorem Ipsum is not simply random text. It has roots in a piece</p>
            </div>
        </div>

        <div class="contact-small">
            <div class="block1">
                <div class="img-pen"></div>
                <h3><a href="#" id="pen2"></a>Contrary to popular</h3>
                <p>Lorem Ipsum is not simply random text. It has roots in a piece</p>
            </div>

            <div class="block2">
                <div class="img-mon"></div>
                <h3><a href="#" id="mon2"></a>Contrary to popular</h3>
                <p>Lorem Ipsum is not simply random text. It has roots in a piece</p>
            </div>

            <div class="block3">
                <div class="img-bag"></div>
                <h3><a href="#" id="bag2"></a>Contrary to popular</h3>
                <p>Lorem Ipsum is not simply random text. It has roots in a piece</p>
            </div>
        </div>
        <div class="inform">
           <div class="photo-bag"></div>
           <h2>The Shopping cart</h2> 
           <h3>Some Bullet text here</h3>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto excepturi quaerat accusantium dolore, magnam recusandae, porro numquam provident corporis, est culpa facere corrupti! Dicta aliquid iusto obcaecati, molestias sunt nobis unde dignissimos id suscipit nam eius minus dolorum eaque, expedita vero provident ut quidem voluptas corrupti saepe, ipsam ducimus minima? Dicta aliquid iusto obcaecati aliquid iusto obcaecati, molestias.
            <p>
        </div>
        <footer>
           <p>Copyright &copy; 2012-2013 cssauthor.com</p>
        </footer>
    </div>
</body>
</html>