*{
    padding: 0;
    margin: 0;
    font-family: "Segoe";
    font-weight: lighter;
    user-select: none;
}

body{
    background-color: #282828;
}

.container{
    background-color: #ffffff;
    max-width: 1280px;
    margin: 0 auto;
}

.up-header{
    position: relative;
    display: block;
    width: 100%;
    height: 93px;
}
header{
    position: fixed;
    z-index: 1000;
    width: 100%;
    top: 0;
}

/*----------------------------------- HEADER -----------------------------------*/

header{
    background-color: #ffffff;
    max-width: 1280px;
    font-size: 0;
    position: fixed;
    z-index: 1000;
    box-sizing: border-box;
}

header .logo{
    display: inline-block;
    height: 45px;
    width: 45px;
    background-color: #5094f2;
    border-radius: 50%;
    font-weight: lighter;
    position: relative;
    margin-left: 10%;
    vertical-align: middle;
}

header>p{
    display: inline-block;
    vertical-align: middle;
    font-size: 40px;
    margin-left: 1%;
    padding-bottom: 3px;
    line-height: 90px;
}

header .logo::before{
    font-family: "SourceSansPro";
    font-weight: normal;
    content:' \201C';
    font-size: 65px;
    position: absolute;
    top: 0;
    margin-top: -5px;
    left: 50%;
    margin-left: -14px;
    color: #ffffff;
}

/*------------------------------ LINKS ----------------------------------*/
.nav{
    display: inline-block;
    font-size: 0;
    vertical-align: bottom;
}

.links{
    text-decoration: none;
    color: #7e7e7e;
    border: none;
    font-size: 20px;
    user-select: none;
    margin-top: 20px;
    line-height: 70px;
    padding-bottom: 19px;
}

a:nth-child(1){
    margin-left: 450px;
}
a:nth-child(2){
    margin-left: 35px;
}
a:nth-child(3){
    margin-left: 35px;
}
a:nth-child(4){
    margin-left: 35px;
}

a:focus{
    border-bottom: 3px solid #5094f2;
}

.logo>p{
    font-size: 15px;
}

/*------------------------------ BUTTON ----------------------------------*/
button{
    border: none;
    outline: none;
}
/*------------------------------ BOX ----------------------------------*/
.box{
    width: 50px;
    height: 40px;
    background-color: #5094f2;
    display: none;
    font-size: 0;
    border-radius: 3px;
    box-shadow: 0 0 25px rgba(41, 41, 41, 0.5);
    vertical-align: middle;
    position: absolute;
    right: 3%;
    top: 30%;
}

.box .line{
    display: inline-block;
    background-color: white;
    height: 5px;
    width: 35px;
    border-radius: 5px;
}

.line:nth-child(2){
    margin-top: 4px;
    margin-bottom: 4px;
}

.box:hover{
    box-shadow: 0 0 25px rgba(41, 41, 41, 0.7);
    cursor: pointer;
}
/*------------------------------ BOX-CONTENT ----------------------------------*/
.box-content{
    position: absolute;
    right: 0;
    top: 35px;
    background-color: #5094f2;
    border-radius: 3px;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    transform: scaleY(0);
    transform-origin: 0 0;
    z-index: 5;
}

.box-content>a{
    color: white;
    text-decoration: none;
    display: block;
    margin: 0 auto;
    border: none;
    user-select: none;
    font-size: 20px;
}


.box-content a:hover {
    font-weight: bold;
    text-shadow: 0 0 25px rgba(41, 41, 41, 0.7);
    border: none;
}

.box:focus .box-content {
    display: block;
    transform: scaleY(1);
    transition: 0.5s linear;
}

/*----------------------------------- MAIN -----------------------------------*/
main{
    max-width: 1280px;
    height: 490px;
    margin: 0 auto;
    background-image: url("fon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    font-size: 0;
    box-sizing: border-box;
}

main .left{
    display: inline-block;
    position: absolute;
    width: 25px;
    height: 65px;
    text-decoration: none;
    border: none;
    top: 50%;
    margin-top: -32.5px;
    left: 5%;
}
main .right{
    display: inline-block;
    position: absolute;
    margin-left: 0;
    width: 25px;
    height: 65px;
    text-decoration: none;
    border: none;
    top: 50%;
    margin-top: -32.5px;
    right: 5%;
}

.left::before{
    content: '';
    width: 25px;
    height: 65px;
    background-image: url("left.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    right: 0;

}
.right::after{
    content: '';
    width: 25px;
    height: 65px;
    background-image: url("right.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 0;
}

main .right:hover{
    transform: scale(1.1);
}
main .left:hover{
    transform: scale(1.1);
}


/*----------------------------------- TELL -----------------------------------*/
.tell{
    display: inline-block;
    position: absolute;
    width: 345px;
    height: 436px;
    background-image: url("tell.png");
    background-size: cover;
    top: 50%;
    margin-top: -210px;
    left: 13%;
    font-size: 0;
    transform: scale(1);
}

/*----------------------------------- TEXT -----------------------------------*/
.text{
    display: inline-block;
    position: absolute;
    width: 450px;
    height: 436px;
    top: 50%;
    margin-top: -210px;
    left: 50%;
    font-size: 0;
}

.text>h2{
    font-family: "Segoe";
    font-weight: lighter;
    font-size: 43px;
    color: white;
    margin-top: 100px;
    display: inline-block;
}

.text>p{
    font-family: "Segoe";
    font-weight: lighter;
    font-size: 26px;
    color: white;
    line-height: 45px;
    display: inline-block;
}

.botton{
    display: inline-block;
    position: absolute;
    top: 50%;
    margin-top: 60px;
    left: 2%;
    background-color: #5094f2;
}

.botton::before{
    content: '';
    width: 25px;
    height: 25px;
    background-image: url("round.png");
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    margin-top: -12.5px;
    left: 6%;
}

.botton a{
    display: inline-block;
    color: white;
    font-size: 21px;
    margin-left: 0;
    text-decoration: none;
    line-height: 35px;
    padding-bottom: 5px;
    padding-left: 50px;
    padding-right: 20px;
}

.botton:hover{
    background-color: #2f85fd;
    box-shadow: 0 0 15px rgba(41, 41, 41, 0.5);
}
.botton:active{
    background-color: #0f72fd;
}
.botton a:focus{
    border-bottom: none;
}

/*----------------------------------- CONTACT -----------------------------------*/
.contact{
    background-color: white;
    position: relative;
    height: 345px;
    width: 100%;
    box-sizing: border-box;
    font-size: 0;
}

.pen{
    display: inline-block;
    width: 180px;
    height: 180px;
    background-image: url("pen.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    position: absolute;
    top: 65px;
    left: 25%;
    margin-left: -110px;
    transform: scale(1);
}
.pen>h3{
    text-align: center;
    width: 180px;
    display: inline-block;
    font-family: "Segoe";
    color: #73a9f5;
    font-size: 20px;
    position: absolute;
    top: 110%;
    left: 50%;
    margin-left: -90px;
}
.pen>p{
    font-family: "Segoe";
    font-weight: lighter;
    width: 245px;
    text-align: center;
    display: inline-block;
    position: absolute;
    color: #9f9f9f;
    font-size: 14px;
    line-height: 17px;
    top: 125%;
    margin-left: -17%;
    margin-top: 10px;
}

.mon{
    display: inline-block;
    width: 180px;
    height: 180px;
    background-image: url("mon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    position: absolute;
    top: 65px;
    left: 51%;
    margin-left: -90px;
    transform: scale(1);
}
.mon>h3{
    text-align: center;
    width: 180px;
    display: inline-block;
    font-family: "Segoe";
    color: #73a9f5;
    font-size: 20px;
    position: absolute;
    top: 110%;
    left: 50%;
    margin-left: -90px;
}
.mon>p{
    font-family: "Segoe";
    font-weight: lighter;
    width: 245px;
    text-align: center;
    display: inline-block;
    position: absolute;
    color: #9f9f9f;
    font-size: 14px;
    line-height: 17px;
    top: 125%;
    margin-left: -17%;
    margin-top: 10px;
}


.bag{
    display: inline-block;
    width: 180px;
    height: 180px;
    background-image: url("bag.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    position: absolute;
    top: 65px;
    left: 75%;
    margin-left: -60px;
    transform: scale(1);
}
.bag>h3{
    text-align: center;
    width: 180px;
    display: inline-block;
    font-family: "Segoe";
    color: #73a9f5;
    font-size: 20px;
    position: absolute;
    top: 110%;
    left: 50%;
    margin-left: -90px;
}
.bag>p{
    font-family: "Segoe";
    font-weight: lighter;
    width: 245px;
    text-align: center;
    display: inline-block;
    position: absolute;
    color: #9f9f9f;
    font-size: 14px;
    line-height: 17px;
    top: 125%;
    margin-left: -17%;
    margin-top: 10px;
}

#pen1{
    display: inline-block;
    position: absolute;
    text-decoration: none;
    border: none;
    user-select: none;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.pen>h3:hover{
    font-weight: bold;
}

#mon1{
    display: inline-block;
    position: absolute;
    text-decoration: none;
    border: none;
    user-select: none;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.mon>h3:hover{
    font-weight: bold;
}

#bag1{
    display: inline-block;
    position: absolute;
    text-decoration: none;
    border: none;
    user-select: none;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.bag>h3:hover{
    font-weight: bold;
}

/*----------------------------------- INFORM -----------------------------------*/

.inform{
    max-width: 1280px;
    height: 500px;
    position: relative;
    transform: scale(1);
}

.photo-bag{
    display: inline-block;
    position: absolute;
    width: 360px;
    height: 260px;
    background-image: url("korz.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    left: 50%;
    margin-left: -447px;
    top: 33%;
}

.inform>h2{
    font-family: "Segoe";
    font-weight: bold;
    position: absolute;
    color: #6f7173;
    font-size: 40px;
    left: 50%;
    margin-left: -430px;
    top: 15%;
}

.inform>h3{
    font-family: "Segoe";
    font-weight: bold;
    text-align: center;
    display: inline-block;
    width: 270px;
    position: absolute;
    color: #6f7173;
    font-size: 26px;
    left: 0;
    left: 50%;
    margin-left: -25px;
    top: 27%;
}

.inform>p{
    display: inline-block;
    width: 450px;
    position: absolute;
    color: #979797;
    font-size: 15px;
    line-height: 30px;
    left: 50%;
    margin-left: -15px;
    top: 39%;
}

/*----------------------------------- FOOTER -----------------------------------*/

footer{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
    border-top: 2px solid rgba(204, 204, 204, 0.6);
}

footer>p{
    color: #b5b5b5;
    font-family: "Segoe";
    font-weight: lighter;
    font-size: 15px;
    line-height: 55px;
}




















































/*------------------------------MEDIA----------------------------------*/
@media screen and (min-width: 1280px){
    main .left{
        margin-left: 0;
    }
}
@media screen and (min-width: 1180px){
    main .left{
        margin-left: 0;
    }
    .contact-small{
        display: none;
    }
}



/*------------------------ 1180px ------------------------*/
@media screen and (max-width: 1180px){
    header .logo{
        margin-left: 9%;
    }
    
    header>p{
        margin-left: 1.8%;
    }
    a:nth-child(1){
        margin-left: 330px;
    }
    a:nth-child(4){
        margin-right: 20px;
    }
    .box-content a:nth-child(1){
        margin-left: 0;
    }
    main{
        max-width: 100%;
        height: 450px;
        background-image: url("fon1.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    main .left{
        margin-left: 0;
    }

    .tell{
        transform: scale(0.9);
        left: 10%;
    }

    .text{
        width: 410px;
        height: 100%;
        top: 50%;
        margin-top: -220px;
        left: 50%;
    }
    
    .text>h2{
        font-size: 40px;
        margin-top: 90px;
    }
    
    .text p{
        font-size: 24px;
        line-height: 43px;
    }

    .botton{
        top: 50%;
        margin-top: 45px;
        left: 0.5%;
    }
    
    .botton::before{
        top: 50%;
        margin-top: -12.5px;
        left: 6%;
    }
    
    .botton a{
        font-size: 21px;
        margin-left: 0;
        line-height: 35px;
        padding-bottom: 5px;
        padding-left: 50px;
        padding-right: 20px;
    }
    .contact-small{
        display: none;
    }
}



/*------------------------ 1000px ------------------------*/
@media screen and (max-width: 1000px){
    header .logo{
        margin-left: 7%;
    }
    
    header>p{
        margin-left: 1.5%;
    }
    nav{
        right: 0;
    }
    a:nth-child(1){
        margin-left: 120px;
    }
    a:nth-child(4){
        margin-right: 0px;
    }
    .box-content a:nth-child(1){
        margin-left: 0;
    }
    main{
        max-width: 100%;
        height: 390px;
        background-image: url("fon1.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    main .left, main .right{
        z-index: 100;
        margin-left: 0;
    }
    
    .tell{
        transform: scale(0.7);
        margin-left: -50px;
    }
    .text{
        width: 380px;
        height: 100%;
        top: 50%;
        margin-top: -195px;
        left: 50%;
        transform: scale(0.8);
    }
    
    .text>h2{
        font-size: 37px;
        margin-top: 75px;
    }
    
    .text>p{
        font-size: 21px;
        line-height: 40px;
    }

    .botton{
        top: 50%;
        margin-top: 45px;
        left: 0.5%;
    }
    
    .botton::before{
        top: 50%;
        margin-top: -12.5px;
        left: 6%;
    }
    
    .botton a{
        font-size: 22px;
        margin-left: 0;
        line-height: 33px;
        padding-bottom: 5px;
        padding-left: 50px;
        padding-right: 20px;
    }

    .contact{
        height: 250px;
    }
    .pen{
        transform: scale(0.7);
        top: 45px;
    }
    .mon{
        transform: scale(0.7);
        top: 45px;
    }
    .bag{
        transform: scale(0.7);
        top: 45px;
    }
    .contact-small{
        display: none;
    }
    .inform{
        transform: scale(0.8);
        height: 350px;
    }
    .photo-bag{    
        top: 23%;
    }
    .inform>h2{
        top: 5%;
    }
    .inform>h3{
        top: 17%;
    }
    .inform>p{
        top: 29%;
    }
    
}

/*------------------------ 800px ------------------------*/
@media screen and (max-width: 800px){
    main .left, main .right{
        display: none;
    }
    .contact-small{
        display: none;
    }
}


/*------------------------ 730px ------------------------*/
@media screen and (max-width: 730px){
    .up-header{
        position: relative;
        display: block;
        width: 100%;
        height: 63px;
    }
    header{
        position: fixed;
        z-index: 1000;
        width: 100%;
        top: 0;
    }
    header .logo{
        margin-left: 5%;
    }
    a:nth-child(4){
        margin-right: 0;
    }
    header>p{
        margin-left: 2%;
        line-height: 60px;
    }

    .box{
        display: inline-block;
        right: 5%;
        top: 20%;
    }

    .nav{
        display: none;
    }

    a:nth-child(1){
        margin-left: 0;
    }

    main{
        max-width: 100%;
        height: 190px;
        background-image: url("fon1.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    main .left, main .right{
        display: none;
    }

    .left{
        display: none;
    }

    .right{
        display: none;
    }

    .tell{
        transform: scale(0.4);
        margin-left: -120px;
    }

    .text{
        width: 250px;
        height: 100%;
        top: 50%;
        margin-top: -95px;
        left: 45%;
        font-size: 0;
    }

    .text>h2{
        font-family: "Segoe";
        font-weight: lighter;
        font-size: 20px;
        color: white;
        margin-top: 20px;
        margin-bottom: 2px;
    }

    .text>p{
        font-family: "Segoe";
        font-weight: lighter;
        font-size: 15px;
        color: white;
        line-height: 25px;
    }
    .botton{
        top: 50%;
        margin-top: 30px;
        left: 0;
    }
    
    .botton::before{
        top: 50%;
        margin-top: -12.5px;
        left: 6%;
    }
    
    .botton a{
        font-size: 18px;
        margin-left: 0;
        line-height: 30px;
        padding-bottom: 5px;
        padding-left: 40px;
        padding-right: 10px;
    }

    .contact{
        display: none;
    }
    /*--------------------- CONTACT-SMALL --------------------*/
    .contact-small{
        display: block;
        background-color: #ffffff;
        max-width: 730px;
        font-size: 0;
        position: relative;
        box-sizing: border-box;
    }
    
    .block1{
        border-bottom: 2px solid rgba(204, 204, 204, 0.6);
        position: relative;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .img-pen{
        display: inline-block;
        width: 90px;
        height: 90px;
        background-image: url("pen.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50%;
        margin-left: 5%;
    }
    .block1>h3{
        display: inline-block;
        text-align: center;
        width: 200px;
        font-family: "Segoe";
        color: #5094f2;
        font-size: 22px;
        position: absolute;
        top: 15%;
        left: 50%;
        margin-left: -73px;
    }
    #pen2{
        display: inline-block;
        position: absolute;
        text-decoration: none;
        border: none;
        user-select: none;
        margin: 0;
        padding: 0;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .block1>p{
        font-family: "Segoe";
        font-weight: lighter;
        width: 250px;
        text-align: justify;
        display: inline-block;
        position: absolute;
        color: #909090;
        font-size: 13px;
        line-height: 17px;
        top: 45%;
        left: 50%;
        margin-left: -67px;
    }
    .block1>h3:hover{
        color: #1e78f7;
        text-shadow: 0 0 25px rgba(41, 41, 41, 0.8);
    }
    
    .block2{
        border-bottom: 2px solid rgba(204, 204, 204, 0.6);
        position: relative;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .img-mon{
        display: inline-block;
        width: 90px;
        height: 90px;
        background-image: url("mon.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50%;
        margin-left: 5%;
    }
    .block2>h3{
        display: inline-block;
        text-align: center;
        width: 200px;
        font-family: "Segoe";
        color: #5094f2;
        font-size: 22px;
        position: absolute;
        top: 15%;
        left: 50%;
        margin-left: -73px;
    }
    #mon2{
        display: inline-block;
        position: absolute;
        text-decoration: none;
        border: none;
        user-select: none;
        margin: 0;
        padding: 0;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .block2>p{
        font-family: "Segoe";
        font-weight: lighter;
        width: 250px;
        text-align: justify;
        display: inline-block;
        position: absolute;
        color: #909090;
        font-size: 13px;
        line-height: 17px;
        top: 45%;
        left: 50%;
        margin-left: -67px;
    }
    .block2>h3:hover{
        color: #1e78f7;
        text-shadow: 0 0 25px rgba(41, 41, 41, 0.8);
    }
    
    .block3{
        border-bottom: 2px solid rgba(204, 204, 204, 0.6);
        position: relative;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .img-bag{
        display: inline-block;
        width: 90px;
        height: 90px;
        background-image: url("bag.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50%;
        margin-left: 5%;
    }
    .block3>h3{
        display: inline-block;
        text-align: center;
        width: 200px;
        font-family: "Segoe";
        color: #5094f2;
        font-size: 22px;
        position: absolute;
        top: 15%;
        left: 50%;
        margin-left: -73px;
    }
    #bag2{
        display: inline-block;
        position: absolute;
        text-decoration: none;
        border: none;
        user-select: none;
        margin: 0;
        padding: 0;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .block3>p{
        font-family: "Segoe";
        font-weight: lighter;
        width: 250px;
        text-align: justify;
        display: inline-block;
        position: absolute;
        color: #909090;
        font-size: 13px;
        line-height: 17px;
        top: 45%;
        left: 50%;
        margin-left: -67px;
    }
    .block3>h3:hover{
        color: #1e78f7;
        text-shadow: 0 0 25px rgba(41, 41, 41, 0.8);
    }
    /*--------------------- RE-INFORM --------------------*/
    .inform{
        height: 500px;
    }

    .photo-bag{
        width: 220px;
        height: 190px;
        left: 50%;
        margin-left: -125px;
        top: 12%;
    }
    
    .inform>h2{
        font-size: 35px;
        left: 50%;
        margin-left: -155px;
        top: -5%;
    }
    
    .inform>h3{
        width: 270px;
        font-size: 26px;
        left: 0;
        left: 50%;
        margin-left: -250px;
        top: 53%;
    }
    
    .inform>p{
        width: 450px;
        font-size: 15px;
        line-height: 30px;
        left: 50%;
        margin-left: -240px;
        top: 65%;
    }
    footer{
        padding-top: 5px;
        padding-bottom: 10px;
    }

    footer>p{
        font-size: 13px;
        line-height: 50px;
    }
}