<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maket</title>
    <link rel="stylesheet" href="fots/open-sans/open_sans.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <form action="#" method="GET">
    <header>
        <div class="container">
            <nav>
                <a href="../Main/index.html" class="active">Макеты</a>
                <a href="#">Portfolio</a>
                <a href="#">About us</a>
                <a href="#">Contact</a>
            </nav>
            <div class="present">
                <div class="head">
                    <h1>Our strong</h1><h1 id="text">organaisation</h1>
                    <div class="description">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam commodi quidem, dolores amet 
                        unde error aspernatur sapiente repudiandae, vero deleniti.
                    </div>
                    <a href="#" class="button">Contact Us</a>
                </div>
                <div class="video">
                    <iframe class="video-content" src="https://www.youtube.com/embed/82GKpcV7h_U" frameborder="0" 
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen></iframe>
                </div>
                <div class="last-line"></div>
            </div>
        </div>
    </header>
    <section class="services">
        <div class="container">
            <div class="present">
            <div class="part-left">
               <h2>Do you know we can provide for you ?</h2>
               <div class="description">
                   Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse id tempora eum dolores magnam harum 
                   laboriosam, quam corporis debitis unde illo libero rem voluptate cum? Quod esse sed dolor corporis.
               </div>
               <a href="#" class="button">Learn More</a>
            </div>

            <div class="part-right">
                <div class="manag">
                    <div class="logo1"></div>
                        <div class="name1">
                            Management
                        </div>
                    <div class="info1">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Atque dolorem aperiam provident ha-<br>
                        rum dolor amet consectetur ame!
                    </div>
                </div>

                <div class="design">
                    <div class="logo2"></div>
                        <div class="name2">
                            UI /UX Design
                        </div>
                    <div class="info2">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Atque dolorem aperiam provident ha-<br>
                        rum dolor amet consectetur ame!
                    </div>
                </div>

                <div class="brand">
                    <div class="logo3"></div>
                        <div class="name3">
                            Logo / Branding
                        </div>
                    <div class="info3">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Atque dolorem aperiam provident ha-<br>
                        rum dolor amet consectetur ame!
                    </div>
                </div>
                    
                <div class="anim">
                    <div class="logo4"></div>
                        <div class="name4">
                            Animation
                        </div>
                    <div class="info4">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Atque dolorem aperiam provident ha-<br>
                        rum dolor amet consectetur ame!
                    </div>
                </div>
                <div class="last-line"></div>
            </div>
            </div>
        </div>
    </section>
    <section class="products">
        <div class="container">
            <div class="head">
                <h2>Feature products</h2>
                <div class="description">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit quisquam commodi quidem dolor amet.
                </div>
                <div class="border">
                </div>
            </div>
            <div class="links">
                <a href="#" class="first">All</a>
                <a href="#">Print Template</a>
                <a href="#">Web Template</a>
                <a href="#">User Interface</a>
                <a href="#">Mock-up</a>
            </div>

            <div class="galery"> 
                <div class="pic1"></div><div class="pic2"></div><div class="pic3"></div><div class="pic4"></div><div class="pic5"></div><div class="pic6"></div><div class="pic7"></div><div class="pic8"></div>
            </div>
            <div class="team">
                <h2>Meet our team</h2>
                <div class="team-description">
                    Lorem ipsum dolor sit amet, consectetur adipis cing elit sed dooing eiusmod tempor 
                    incididut labore Ui / Ux, print template amet.
                </div>
                <div class="team-border">
                </div>
            </div>

            <div class="staff">
                <div class="staff-left">
                    <div class="photo">photo1</div>
                </div>

                <div class="staff-right">
                    <div class="name">
                        <h3>Mark Waugh</h3>
                    </div>
                    <div class="staff-description">
                        Lorem ipsum dolor sit amet, consectetur adipis cing elit sed dooing eiusmod tempor 
                        incididut labore Ui / Ux, print template amet.
                    </div>
                    <div class="staff-links">
                        <a href="#" class="space">Facebook</a>
                        <a href="#" class="space">Dribble</a>
                        <a href="#" class="space">Behance</a>
                        <a href="#">Twitter</a>
                    </div>
                    <div class="staff-photo">
                        <div class="pht1">1</div><div class="pht2">2</div><div class="pht3">3</div><div class="pht4">4</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="mail">
        <div class="container">
            <div class="mail-name">
                <h2>Design tips, tricks, and freebies. Delivered weekly.</h2>
            </div>
            <div class="mail-description">
                Lorem ipsum dolor sit amet, consectetur adipis cing elit.
            </div>
            <div class="mail-contact">
                <div class="address">
                    <p><input type="email" placeholder="Email Address..." pattern="[a-z] +@"></p>
                </div>
                <div class="mail-button">
                    <input type="submit" value="Subscribe" class="button">
                </div>
            </div>
        </div>
    </section>
    <section class="order">
        <div class="container">
            <div class="team">
                <h2>Get in touch</h2>
                <div class="team-description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                    Cupiditate maiores exercitationem voluptatum quod illum excepturi 
                    repudiandae inventore enim? Dignissimos quam molestiae ducimus minus 
                    autem molestias natus vel ut rem praesentium.
                </div>
                <div class="team-border">
            </div>
            <div class="inform">
                <div class="left-colum">
                    <div class="nominal">
                        <p><input name="name" type="text" placeholder="Name"></p>
                    </div>
                    <div class="email">
                        <p><input type="email" placeholder="Your Mail" pattern="[a-z] +@"></p>
                    </div>
                    <div class="message">
                        <textarea name="comment" placeholder="Type your message"></textarea>
                    </div>
                    <div class="inform-button">
                        <input type="submit" value="Send message" class="button">
                    </div>
                </div>
                <div class="right-colum">
                    <h3>Contact info</h3>
                    <p class="first1">Jalalabad 24 / A, Ambaarkhana, Sylhet,<br>Bangladesh</p>
                    <p class="second">redwan@deviserweb.com</p>
                    <p class="third">(+88) 017 617 46373</p>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container-first">
            <div class="container-second">
                <p id="copy">&copy; Copyright @Junaed 2016, All rights reserved.</p>
                <div class="social">
                    <a href="#" class="twit"></a><a href="#" class="in"></a><a href="#" class="google"></a><a href="#" class="face"></a>
                </div>
            </div>
        </div>
    </footer>
</form>
</body>
</html>