<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <title>Second Layout</title>
  <link rel="stylesheet" href="./styles/style.min.css">
  <link rel="stylesheet" href="./fonts/open-sans/open-sans.css">
</head>

<body>
  <div class="section-one">
    <header>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="logo">Smart</div>
            <div class="button">
              <div class="line1"></div>
              <div class="line2"></div>
              <div class="line3"></div>
            </div>
            <nav>
              <a href="#">Main</a><a href="#">Gallery</a><a href="#">Contacts</a><a href="#">About Us</a>
            </nav>
          </div>
        </div>
      </div>
      <h2><span>Smart</span> Agency Landing Page</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto numquam doloribus labore incidunt commodi
        consequuntur aspernatur, quaerat recusandae sequi veritatis pariatur sit assumenda minus error non, voluptates
        hic deleniti dolorum.</p>
      <div class="main-contacts">
        <div class="contacts">
          <h3><span>Send</span> A Message</h3>
          <form action="#" method="POST">
            <input type="text" name="name" placeholder="Your Name">
            <input type="email" name="email" placeholder="Your Email">
            <textarea name="message" placeholder="Your Message"></textarea>
            <input type="submit" value="Send Message">
            <div class="course"></div>
          </form>
        </div>
      </div>
    </header>
  </div>

  <div class="section-two">
    <div class="title">
      <h2><span>Working</span> Process</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum dolor reprehenderit commodi.</p>
    </div>
    <div class="services">
      <div class="tomi">
        <div class="logo-one"></div>
        <h3>Koc Koi Tomi</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing.</p>
        <div class="inform-button">
          <p>Know More</p>
          <a href="#"></a>
        </div>
      </div>

      <div class="set">
        <div class="logo-two"></div>
        <h3>Koimona Set</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing.</p>
        <div class="inform-button">
          <p>Know More</p>
          <a href="#"></a>
        </div>
      </div>

      <div class="kaire">
        <div class="logo-three"></div>
        <h3>Setting Kaire</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing.</p>
        <div class="inform-button">
          <p>Know More</p>
          <a href="#"></a>
        </div>
      </div>

      <div class="lara">
        <div class="logo-four"></div>
        <h3>Ko Image Lara</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing.</p>
        <div class="inform-button">
          <p>Know More</p>
          <a href="#"></a>
        </div>
      </div>
    </div>
  </div>

  <div class="section-three">
    <div class="title">
      <h2><span>Featured</span> Works</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum dolor reprehenderit commodi.</p>
    </div>
    <div class="gallery">
      <div class="one"></div>
      <div class="two"></div>
      <div class="three"></div>
      <div class="four"></div>
      <div class="five"></div>
      <div class="six"></div>
      <div class="seven"></div>
      <div class="eight"></div>
      <div class="nine"></div>
    </div>
  </div>

  <div class="section-four">
    <div class="title">
      <h2><span>Services</span> We Provide</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum dolor reprehenderit commodi.</p>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-2">
          <div class="diagram-one">
            <a href="#"></a>
          </div>
          <div class="options">
            <a href="#"></a>
          </div>
          <div class="step">
            <a href="#"></a>
          </div>
          <div class="diagram-two">
            <a href="#"></a>
          </div>
        </div>
        <div class="col-lg-6">
          <h3>Modern App Design</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic fugit assumenda iure molestias quaerat
            provident, maxime, dolore blanditiis aperiam atque minima in animi accusamus laborum asperiores totam,
            remeos repellat.Eos illo ipsum iure, ipsa officia porro nisi.</p>

          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos illo ipsum iure, ipsa officia porro nisi.</p>

          <p>Lorem ipsum dolor sit amet consectetur.</p>

          <div class="service-button">Know More
            <a href="#"></a>
          </div>
        </div>
        <div class="col-lg-4"></div>
      </div>
    </div>
  </div>

  <div class="section-five">
    <div class="title">
      <h2><span>Team</span> Chinen & Skills</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum dolor reprehenderit commodi.</p>
    </div>
    <div class="personal">
      <div class="bedi">
        <div class="bedi-name">
          <h3>Bedi Manos</h3>
          <p>UI/UX Parena</p>
        </div>
        <div class="bedi-info">
          <p>UI/UX Design</p>
          <div class="level-one"></div>
          <p>English</p>
          <div class="level-two"></div>
          <p>Communication</p>
          <div class="level-three"></div>
          <h3>Bedi Manos</h3>
          <p class="p-info">UI/UX Parena</p>
          <div class="social">
            <div class="twit1">
              <a href="#"></a>
            </div>
            <div class="face">
              <a href="#"></a>
            </div>
            <div class="twit2">
              <a href="#"></a>
            </div>
          </div>
        </div>
      </div>

      <div class="rayhan">
        <div class="rayhan-name">
          <h3>Al Rayhan</h3>
          <p>UI/UX Designer</p>
        </div>
        <div class="rayhan-info">
          <p>UI/UX Design</p>
          <div class="level-one"></div>
          <p>English</p>
          <div class="level-two"></div>
          <p>Communication</p>
          <div class="level-three"></div>
          <h3>Al Rayhan</h3>
          <p class="p-info">UI/UX Designer</p>
          <div class="social">
            <div class="twit1">
              <a href="#"></a>
            </div>
            <div class="face">
              <a href="#"></a>
            </div>
            <div class="twit2">
              <a href="#"></a>
            </div>
          </div>
        </div>
      </div>

      <div class="ali">
        <div class="ali-name">
          <h3>Ali Sayed</h3>
          <p>UI/UX Designer</p>
        </div>
        <div class="ali-info">
          <p>UI/UX Design</p>
          <div class="level-one"></div>
          <p>English</p>
          <div class="level-two"></div>
          <p>Communication</p>
          <div class="level-three"></div>
          <h3>Ali Sayed</h3>
          <p class="p-info">UI/UX Designer</p>
          <div class="social">
            <div class="twit1">
              <a href="#"></a>
            </div>
            <div class="face">
              <a href="#"></a>
            </div>
            <div class="twit2">
              <a href="#"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-six">
    <div class="title">
      <h2><span>Clients</span> Said</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum dolor reprehenderit commodi.</p>
    </div>
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">

      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="size active"
          aria-current="true" aria-label="Slide 1"></button>

        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"
          class="size"></button>

        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"
          class="size"></button>
      </div>

      <div class="carousel-inner">

        <div class="carousel-item active text-center uno">
          <img src="./images/uno.jpg" class="w-540 m-2 my-position2" alt="...">
          <img src="./images/dos.jpg" class="w-540 my-position m-2" alt="...">
          <div class="carousel-caption d-none d-md-block"></div>
          <div class="kitt"></div>
          <div class="all"></div>
          <p class="one-p">“This was my first time renting from car rental. The service rep help me find the best rental
            to suit my needs. I will definitely rent with this company again”</p>

          <p class="two-p">“This was my first time renting from car rental. The service rep help me find the best rental
            to suit my needs. I will definitely rent with this company again”</p>

          <div class="stars-left">
            <img src="./images/star.png" class="w-15 m-1" alt="...">
            <img src="./images/star.png" class="w-15 m-1" alt="...">
            <img src="./images/star.png" class="w-15 m-1" alt="...">
            <img src="./images/star.png" class="w-15 m-1" alt="...">
            <img src="./images/star.png" class="w-15 m-1" alt="...">
          </div>
          <div class="stars-right">
            <img src="./images/star.png" class="w-15 m-1" alt="...">
            <img src="./images/star.png" class="w-15 m-1" alt="...">
            <img src="./images/star.png" class="w-15 m-1" alt="...">
            <img src="./images/star.png" class="w-15 m-1" alt="...">
            <img src="./images/star.png" class="w-15 m-1" alt="...">
          </div>
          <p class="author1">Kita Say, <span>HK Director</span></p>
          <p class="author2">Al Rayhan, <span>UX Director</span></p>
        </div>

        <div class="carousel-item text-center dos">
          <img src="./images/tres.jpg" class="w-540 m-2 my-position2" alt="...">
          <img src="./images/quadro.jpg" class="w-540 m-2 my-position" alt="...">
          <div class="carousel-caption d-none d-md-block">
          </div>
          <div class="kitt1"></div>
          <div class="all1"></div>
          <p class="one-p">“This was my first time renting from car rental. The service rep help me find the best rental
            to suit my needs. I will definitely rent with this company again”</p>

          <p class="two-p">“This was my first time renting from car rental. The service rep help me find the best rental
            to suit my needs. I will definitely rent with this company again”</p>

          <div class="stars-left">
            <img src="./images/star.png" class="w-15 m-1" alt="...">
            <img src="./images/star.png" class="w-15 m-1" alt="...">
            <img src="./images/star.png" class="w-15 m-1" alt="...">
            <img src="./images/star.png" class="w-15 m-1" alt="...">
            <img src="./images/star.png" class="w-15 m-1" alt="...">
          </div>
          <div class="stars-right">
            <img src="./images/star.png" class="w-15 m-1" alt="...">
            <img src="./images/star.png" class="w-15 m-1" alt="...">
            <img src="./images/star.png" class="w-15 m-1" alt="...">
            <img src="./images/star.png" class="w-15 m-1" alt="...">
            <img src="./images/star.png" class="w-15 m-1" alt="...">
          </div>
          <p class="author1">Kita Say, <span>HK Director</span></p>
          <p class="author2">Al Rayhan, <span>UX Director</span></p>
        </div>

        <div class="carousel-item text-center tres">
          <img src="./images/sinco.jpg" class="w-540 m-2 my-position2" alt="...">
          <img src="./images/dominos.jpg" class="w-540 m-2 my-position" alt="...">
          <div class="carousel-caption d-none d-md-block">
          </div>
          <div class="kitt2"></div>
          <div class="all2"></div>
          <p class="one-p">“This was my first time renting from car rental. The service rep help me find the best rental
            to suit my needs. I will definitely rent with this company again”</p>

          <p class="two-p">“This was my first time renting from car rental. The service rep help me find the best rental
            to suit my needs. I will definitely rent with this company again”</p>

          <div class="stars-left">
            <img src="./images/star.png" class="w-15 m-1" alt="...">
            <img src="./images/star.png" class="w-15 m-1" alt="...">
            <img src="./images/star.png" class="w-15 m-1" alt="...">
            <img src="./images/star.png" class="w-15 m-1" alt="...">
            <img src="./images/star.png" class="w-15 m-1" alt="...">
          </div>
          <div class="stars-right">
            <img src="./images/star.png" class="w-15 m-1" alt="...">
            <img src="./images/star.png" class="w-15 m-1" alt="...">
            <img src="./images/star.png" class="w-15 m-1" alt="...">
            <img src="./images/star.png" class="w-15 m-1" alt="...">
            <img src="./images/star.png" class="w-15 m-1" alt="...">
          </div>
          <p class="author1">Kita Say, <span>HK Director</span></p>
          <p class="author2">Al Rayhan, <span>UX Director</span></p>
        </div>
      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>

      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>

    </div>
  </div>

  <div class="section-seven">
    <div class="links">
      <div class="link">
        <a href="#"></a>
      </div>
      <div class="drib">
        <a href="#"></a>
      </div>
      <div class="env">
        <a href="#"></a>
      </div>
      <div class="link">
        <a href="#"></a>
      </div>
      <div class="drib">
        <a href="#"></a>
      </div>
      <div class="env">
        <a href="#"></a>
      </div>
    </div>
  </div>

  <footer>
    <div class="service-button">Contact Us
      <a href="#"></a>
    </div>

    <div class="social-contacts">
      <div class="face1">
        <a href="#"></a>
      </div>
      <div class="link1">
        <a href="#"></a>
      </div>
      <div class="wats1">
        <a href="#"></a>
      </div>
      <div class="twit1">
        <a href="#"></a>
      </div>
      <div class="inst1">
        <a href="#"></a>
      </div>
      <p>&copy; 2015 - 2016 Deviserweb Ltd.</p>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    -->
</body>

</html>