<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <title>Макет 10</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <header>
        <div class="container pt-5">
            <nav>
                <div class="row">
                    <div class="col-lg-6">
                        <img src="./round.png" class="mh-200 align-middle me-3 ms-3" style="width: 50px" alt="...">
                        <h1 id="first" class="d-inline align-middle">Flat Mate</h1>
                    </div>
                    <div class="col-lg-6">
                        <p class="d-inline align-middle">Have an Account ?</p>
                        <a href="#" class="btn btn-secondary align-middle">Login</a>
                    </div>
                </div>
            </nav>
            <div class="row">
                <div class="col-lg-6">
                    <h1 class="pb-4" id="second">Lorem ipsum dolor sit amet</h1>
                    <p class="pb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos repellat aperiam quidem
                        accusamus repellendus ipsa beatae libero, tempore aspernatur dignissimos necessitatibus.</p>
                    <a href="#" class="btn btn-success button1">Read More</a>
                </div>
                <div class="col-lg-6">
                    <img src="./mess.png" class="rounded mx-auto d-block" class="mh-300" style="width: 300px" alt="...">
                </div>
            </div>
        </div>
        </div>
    </header>

    <section>
        <div class="container pt-5">
            <div class="row pt-5">
                <div class="col-lg-3">
                    <img src="./doc.png" class="rounded mx-auto d-block" class="mh-200" style="width: 200px" alt="...">
                </div>
                <div class="col-lg-6">
                    <h2 class="ms-4 danger">Lorem ipsum dolor sit amet</h2>
                    <p class="ms-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis nemo eum aliquid
                        totam eveniet officiis quidem sequi odio porro dicta laborum cum harum expedita dolorum error,
                        suscipit molestias cumque nesciunt? Corporis nemo eum aliquid totam eveniet officiis quidem
                        sequi.</p>
                </div>
                <div class="col-lg-3 position-relative">
                    <a href="#" class="position-absolute">
                        <img src="./pen.png" class="mh-60 position-absolute" style="width: 60px" alt="...">
                    </a>
                    <a href="#" class="position-absolute">
                        <img src="./fb.png" class="mh-60 rounded-circle position-absolute" style="width: 60px"
                            alt="...">
                    </a>
                </div>
            </div>
        </div>
    </section>

    <div class="carus">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">

                <div class="carousel-item active">
                    <h2>The Modern Era of Web Designing</h2>
                    <p>We make wireframe ultra fast,leak proof</p>
                    <img src="./browser.png" class="d-block w-100" alt="...">
                </div>

                <div class="carousel-item">
                    <h2>The Modern Era of Web Designing</h2>
                    <p>We make wireframe ultra fast,leak proof</p>
                    <img src="./browser.png" class="d-block w-100" alt="...">
                </div>

                <div class="carousel-item">
                    <h2>The Modern Era of Web Designing</h2>
                    <p>We make wireframe ultra fast,leak proof</p>
                    <img src="./browser.png" class="d-block w-100" alt="...">
                </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next " type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <div class="price">
        <h2 class="pb-2">A wireframe is the primitive skeleton of your website.</h2>
        <p class="pb-5">Pick a plan from below to get started! Already 20000+ websites and webprojects<br>have been
            successfull wireframed with HotGloo.</p>
        <div class="container pb-5">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <ul class="list-group mh-300 pb-5" style="width: 300px">
                        <li class="list-group-item grey" aria-current="true">Free</li>
                        <li class="list-group fs-4 fw-bold first-bg bg-1">$0/Month</li>
                        <li class="list-group fs-5 first-bg bg-all">1 Project</li>
                        <li class="list-group fs-5 first-bg bg-all">5 Members</li>
                        <li class="list-group fs-5 first-bg bg-all">5 GB</li>
                        <li class="btn button-1 mt-5" style="width: 300px"><a href="#">Sign Up</a></li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-6">
                    <ul class="list-group mh-300 pb-5 position-relative" style="width: 300px">
                        <img src="./ok.png" class="d-block position-absolute" style="width: 50px" alt="...">
                        <li class="list-group-item green" aria-current="true">Professional</li>
                        <li class="list-group fs-4 fw-bold second-bg bg-2">$50/Month</li>
                        <li class="list-group fs-5 second-bg bg-all">20 Project</li>
                        <li class="list-group fs-5 second-bg bg-all">50 Members</li>
                        <li class="list-group fs-5 second-bg bg-all">100 GB</li>
                        <li class="btn button-2 mt-5" style="width: 300px"><a href="#">Buy Now</a></li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-12">
                    <ul class="list-group mh-300 pb-5" style="width: 300px">
                        <li class="list-group-item blue" aria-current="true">Enterprise</li>
                        <li class="list-group fs-4 fw-bold third-bg bg-3">$90/Month</li>
                        <li class="list-group fs-5 third-bg bg-all">Unlimited</li>
                        <li class="list-group fs-5 third-bg bg-all">Unlimited</li>
                        <li class="list-group fs-5 third-bg bg-all">500 GB</li>
                        <li class="btn button-3 mt-5" style="width: 300px"><a href="#">Buy Now</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="info">
        <h2>A wireframe is the primitive skeleton of your website</h2>
    </div>

    <div class="video">
        <div class="container-fluid">
            <iframe width="100%" height="1080px" src="https://www.youtube.com/embed/82GKpcV7h_U"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>

    <div class="icon">
        <img src="./mail.png" class="mh-200" style="width: 200px" alt="...">
    </div>

    <form action="#" method="GET"></form>
    <div class="forms">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 mb-3"></div>
                <div class="col-lg-4 mb-3">
                    <label for="Input" class="form-label position-relative">Name</label>
                    <input type="text" class="form-control" id="Input">

                    <label for="Email" class="form-label position-relative">Email</label>
                    <input type="email" class="form-control" id="Email">
                </div>

                <div class="col-lg-4 mb-3">
                    <label for="Textarea" class="position-relative">Message</label>
                    <textarea type="comment" class="form-control mt-2" id="Textarea"></textarea>
                </div>
                <div class="col-lg-2 mb-3"></div>
            </div>
            <div class="row">
                <div class="col-lg-2 mb-3"></div>
                <div class="col-lg-4 mb-3"></div>
                <div class="col-lg-4 mb-3 new">
                    <button type="submit" class="btn btn-danger button-4">SEND</button>
                </div>
                <div class="col-lg-2 mb-3"></div>
            </div>
        </div>
    </div>
    </form>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-12 last">
                    <img src="./round2.png" class="mh-40 rounded-circle me-3" style="width: 40px" alt="...">
                    <h2 class="border-end d-inline align-middle pe-3 my-new">Flat Mate</h2>
                    <p class="d-inline align-middle ps-3 my-new1">Designed By WWW.CSSAUTHOR.COM</p>
                </div>

                <div class="col-lg-2 col-md-0"></div>

                <div class="col-lg-5 col-md-12 position-relative">
                    <a href="#" class="position-absolute left">
                        <img src="./twit.png" class="mh-40 rounded-circle position-absolute" style="width: 40px"
                            alt="...">
                    </a>

                    <a href="#" class="position-absolute right">
                        <img src="./face.png" class="mh-40 rounded-circle position-absolute" style="width: 40px"
                            alt="...">
                    </a>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
    -->
</body>

</html>