<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gradient</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="gradient">
            <div class="head">
                <h2>Hello Hillel!</h2>
            </div>
            <div class="description">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint suscipit voluptatum 
                    reiciendis magni possimus dolorem nemo mollitia harum ex quod perspiciatis labore 
                    architecto vero veritatis, at dolor! Fugit, ex dolor!
                </p>
            </div>
            <div class="footer">
                <h3><a href="../Main/index.html">complete !</a></h3>
            </div>
        </div>
    </div>
</body>
</html>