<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maket</title>
    <link rel="stylesheet" href="../Layout 7/fonts/Segoe/segoe.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <header>
            <p id="indo">Indo</p><p>Tourism</p>
            <nav>
                <a href="#">Home</a>
                <a href="#">About us</a>
                <a href="#">Projects</a>
                <a href="#" class="buttom">Contact us</a>
            </nav>
        </header>
        <main>
            <h1 id="first">I like to ask the same question</h1><br>
            <h1 id="second">Many many times</h1><br>
            <a href="#" class="buttom2">Ok ask me</a>
            <div class="galary">

                <h2>Places You Mast Visit In Your Lifetime</h2>

                <div class="upper">
                    <div class="Azheekal">
                        <a href="#" class="foto1">
                            <p>Azheekal</p>
                        </a>
                    </div>

                    <div class="Ooty">
                        <a href="#" class="foto2">
                            <p>Ooty</p>
                        </a>
                    </div>

                    <div class="Munnar2">
                        <a href="#" class="foto3">
                            <p>Munnar</p>
                        </a>
                    </div>

                    <div class="Humpi">
                        <a href="#" class="foto4">
                            <p>Humpi</p>
                        </a>
                    </div>

                    <div class="Kovalam">
                        <a href="#" class="foto5">
                            <p>Kovalam</p>
                        </a>
                    </div>
                </div>

                <div class="down">
                    <div class="Kuttanad">
                        <a href="#" class="foto6">
                            <p>Kuttanad</p>
                        </a>
                    </div>

                    <div class="Thenmala">
                        <a href="#" class="foto7">
                            <p>Thenmala</p>
                        </a>
                    </div>

                    <div class="Beach">
                        <a href="#" class="foto8">
                            <p>Beach</p>
                        </a>
                    </div>

                    <div class="Munnar">
                        <a href="#" class="foto9">
                            <p>Munnar</p>
                        </a>
                    </div>

                    <div class="Punaloor">
                        <a href="#" class="foto10">
                            <p>Punaloor</p>
                        </a>
                    </div>
                </div>
            </div>
        </main>
        <section>
            <h2>
                We`ve since expanded our life list to 43 sites around the 
                world 43 Places to See Before You Die
            </h2>
            <div class="contacts">
                <div class="earth">
                    <a href="#" class="pht1">
                        <p>Sites the world</p>
                    </a>
                </div>

                <div class="bag">
                    <a href="#" class="pht2">
                        <p>Shopping</p>
                    </a>
                </div>

                <div class="photograph">
                    <a href="#" class="pht3">
                        <p>Photography</p>
                    </a>
                </div>

                <div class="find">
                    <a href="#" class="pht4">
                        <p>Find the best</p>
                    </a>
                </div>
            </div>
        </section>
        <footer>
            <p>Designed by cssauthor.com</p>
        </footer>
    </div>
</body>
</html>