<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Макет</title>
    <link rel="stylesheet" href="./fonts/MrsEaves/mrs-eaves.css">
    <link rel="stylesheet" href="./fonts/Segoe/segoe.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Leo/-</h1>
            <nav>
                <a href="#">Solutions</a>
                <a href="#">Products</a>
                <a href="#">Portfolio</a>
                <a href="#">Contact</a>
            </nav>
            <div class="picture"></div>
            <h2>Introducing</h2>
            <h3>Something hot......</h3>
            <a href="#" class="button">Try Demo</a>
            <a href="#" class="arrow-left"></a>
            <a href="#" class="arrow-right"></a>
        </header>
        <main>
            <div class="tell-main">
                <a href="#">
                    <div class="tell"></div>
                    <h4>Responsive Websites</h4>
                </a>
                <div class="kub">
                    <div class="pht1"></div>
                    <h2>Lorem Ipsum is simply dummy</h2>
                    <p id="first">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis pariatur temporibus nesciunt assumenda quis fuga facilis, placeat ea aperiam ad provident facere nostrum aliquam optio delectus quas beatae. Illum quo quam accusamus odit temporibus beatae ab suscipit necessitatibus quaerat commodi velit in, repellat officia nisi enim voluptates a repellendus eveniet!
                    </p>
                    <p id="second">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis pariatur temporibus nesciunt assumenda quis fuga facilis, placeat ea aperiam ad provident facere nostrum aliquam optio delectus quas beatae. Illum quo quam accusamus odit temporibus beatae ab suscipit necessitatibus quaerat commodi velit in, repellat officia nisi enim voluptates a repellendus eveniet ratione architecto maxime labore! Magnam, modi ipsa! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis pariatur temporibus nesciunt assumenda quis fuga facilis, placeat ea aperiam ad provident facere nostrum aliquam optio delectus quas beatae. Illum quo quam accusamus odit temporibus beatae ab suscipit necessitatibus quaerat commodi velit in, repellat. Illum quo quam accusamus odit temporibus quo.
                    </p>
                </div>
            </div>

            <div class="bag-main">
                <a href="#">
                    <div class="bag"></div>
                    <h4>e Commerce Websites</h4>
                </a>
                <div class="kub">
                    <div class="pht1"></div>
                    <h2>Lorem Ipsum is simply dummy</h2>
                    <p id="first">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis pariatur temporibus nesciunt assumenda quis fuga facilis, placeat ea aperiam ad provident facere nostrum aliquam optio delectus quas beatae. Illum quo quam accusamus odit temporibus beatae ab suscipit necessitatibus quaerat commodi velit in, repellat officia nisi enim voluptates a repellendus eveniet!
                    </p>
                    <p id="second">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis pariatur temporibus nesciunt assumenda quis fuga facilis, placeat ea aperiam ad provident facere nostrum aliquam optio delectus quas beatae. Illum quo quam accusamus odit temporibus beatae ab suscipit necessitatibus quaerat commodi velit in, repellat officia nisi enim voluptates a repellendus eveniet ratione architecto maxime labore! Magnam, modi ipsa! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis pariatur temporibus nesciunt assumenda quis fuga facilis, placeat ea aperiam ad provident facere nostrum aliquam optio delectus quas beatae. Illum quo quam accusamus odit temporibus beatae ab suscipit necessitatibus quaerat commodi velit in, repellat. Illum quo quam accusamus odit temporibus quo.
                    </p>
                </div>
            </div>

            <div class="planet-main">
                <a href="#">
                    <div class="planet"></div>
                    <h4>Daily blog Websites</h4>
                </a>
                <div class="kub">
                    <div class="pht1"></div>
                    <h2>Lorem Ipsum is simply dummy</h2>
                    <p id="first">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis pariatur temporibus nesciunt assumenda quis fuga facilis, placeat ea aperiam ad provident facere nostrum aliquam optio delectus quas beatae. Illum quo quam accusamus odit temporibus beatae ab suscipit necessitatibus quaerat commodi velit in, repellat officia nisi enim voluptates a repellendus eveniet!
                    </p>
                    <p id="second">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis pariatur temporibus nesciunt assumenda quis fuga facilis, placeat ea aperiam ad provident facere nostrum aliquam optio delectus quas beatae. Illum quo quam accusamus odit temporibus beatae ab suscipit necessitatibus quaerat commodi velit in, repellat officia nisi enim voluptates a repellendus eveniet ratione architecto maxime labore! Magnam, modi ipsa! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis pariatur temporibus nesciunt assumenda quis fuga facilis, placeat ea aperiam ad provident facere nostrum aliquam optio delectus quas beatae. Illum quo quam accusamus odit temporibus beatae ab suscipit necessitatibus quaerat commodi velit in, repellat. Illum quo quam accusamus odit temporibus quo.
                    </p>
                </div>
            </div>

            <div class="search-main">
                <a href="#">
                    <div class="search"></div>
                    <h4>Search based Websites</h4>
                </a>
                <div class="kub">
                    <div class="pht1"></div>
                    <h2>Lorem Ipsum is simply dummy</h2>
                    <p id="first">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis pariatur temporibus nesciunt assumenda quis fuga facilis, placeat ea aperiam ad provident facere nostrum aliquam optio delectus quas beatae. Illum quo quam accusamus odit temporibus beatae ab suscipit necessitatibus quaerat commodi velit in, repellat officia nisi enim voluptates a repellendus eveniet!
                    </p>
                    <p id="second">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis pariatur temporibus nesciunt assumenda quis fuga facilis, placeat ea aperiam ad provident facere nostrum aliquam optio delectus quas beatae. Illum quo quam accusamus odit temporibus beatae ab suscipit necessitatibus quaerat commodi velit in, repellat officia nisi enim voluptates a repellendus eveniet ratione architecto maxime labore! Magnam, modi ipsa! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis pariatur temporibus nesciunt assumenda quis fuga facilis, placeat ea aperiam ad provident facere nostrum aliquam optio delectus quas beatae. Illum quo quam accusamus odit temporibus beatae ab suscipit necessitatibus quaerat commodi velit in, repellat. Illum quo quam accusamus odit temporibus quo.
                    </p>
                </div>
            </div>
        </main>
        <section>
            <h4>Why choose us ?</h4>
            <div class="screen-shot"></div>
            <ul class="list">
                <li>Lorem Ipsum is simply dummy text of the printing and typesetting</li>
                <li>Lorem Ipsum has been the industry's standard dummy text ever</li>
                <li>When an unknown printer took a galley of type and scrambled</li>
                <li>It has survived not only five centuries, but also the leap into electronic </li>
                <li>It was popularised in the 1960s with the release of Letraset sheets containing</li>
                <li>More recently with desktop publishing software like Aldus PageMaker </li>
            </ul>
        </section>
        <section class="forms">
            <div class="left">
                <h4>Member login</h4>
                <form action="#" method="POST">
                    <input type="text" name="name" placeholder="User name">
                    <input type="password" name="password" placeholder="Password">
                    <input type="submit" value="Log me in." class="button">
                </form>
            </div>
            <div class="right">
                <h4>Subscribe to our weekly newsletter</h4>
                <form action="#" method="POST">
                    <input type="email" name="email" placeholder="email address">
                    <input type="submit" value="Subscribe" class="button">
                </form>
            </div>
        </section>
        <footer>
            <ul class="down1">
                <li><h4>About us</h4></li>
                <li><a href="#">About us</a></li>
                <li><a href="#">Why us</a></li>
                <li><a href="#">Customer Stories</a></li>
                <li><a href="#">Press Resources</a></li>
                <li><a href="#">Press Releases</a></li>
                <li><a href="#">Contact us</a></li>
            </ul>
            <ul class="down1">
                <li><h4>About us</h4></li>
                <li><a href="#">About us</a></li>
                <li><a href="#">Why us</a></li>
                <li><a href="#">Customer Stories</a></li>
                <li><a href="#">Press Resources</a></li>
                <li><a href="#">Press Releases</a></li>
                <li><a href="#">Contact us</a></li>
            </ul>
            <ul class="down1">
                <li><h4>Testimoanials</h4></li>
                <li><a href="#">Lorem Ipsum is simply dummy text of the printing and</a></li>
                <li><a href="#">typesetting industry. Lorem Ipsum has been the industr</a></li>
                <li><a href="#">standard dummy text ever since the 1500s,</a></li>
                <li><a href="#">when an unknown printer took a </a></li>
                <li><b><a href="#">Lorem Ipsum is simply</a>/<b></li>
                <li><b><a href="#">Owner, Lorem Ipsum</a></b></li>
            </ul>
            <div class="d-l"><a href="#"></a></div>
            <div class="d-r"><a href="#"></a></div>
            <h1>Leo/-</h1>
            <p>&copy; cssauthor.com</p>
        </footer>
    </div>
</body>
</html>